* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:sans-serif;

}

.playlist {
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    background:linear-gradient(rgba(0, 0, 0, 0.73),rgba(48, 89, 48, 0.53),rgba(0, 0, 0, 0.7));
    font-family: sans-serif;
}

.song
{
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    background:rgba(40, 40, 186, 0.33)
}

h1{
    margin-bottom: 20px;
}
img{
    width:80px;
    border-radius:10px;
    margin-bottom:15px;
}